<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}} | North by Northwestern</title>
		<meta name="description" content="{{socialDescription}}">
    <script src="https://use.typekit.net/xrn8cyd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
		<link rel="stylesheet" href="css/main.css"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@nbn_tweets">
    <meta name="twitter:image" content="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2016/11/17/Trump__Clinton.jpg" />

    <meta property="og:title" content="{{title}} | North by Northwestern" />
    <meta property="og:url" content="http://apps.northbynorthwestern.com/election-reflections" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{socialDescription}}" />
    <meta property="og:site_name" content="northbynorthwestern.com" />
    <meta property="og:image" content="http://media.northbynorthwestern.com.s3.amazonaws.com/uploads/2016/11/17/Trump__Clinton.jpg" />

	</head>
	<body>
		{{{ body }}}
		<script src="js/main.js"></script>
	</body>
</html>
